# Pivot Table y Reshape

In [ ]:
pivot_table = pd.pivot_table(sales_data, values = 'Quantity', index = 'Country',
                             columns='StockCode', aggfunc='sum')
print(pivot_table)

In [118]:
df = pd.DataFrame({
    'A': ['foo', 'bar', 'baz'],
    'B': [1, 2, 3],
    'C': [4, 5, 6]
})
print(df)

     A  B  C
0  foo  1  4
1  bar  2  5
2  baz  3  6

In [119]:
df_stacked = df.stack()
print(df_stacked)

0  A    foo
   B      1
   C      4
1  A    bar
   B      2
   C      5
2  A    baz
   B      3
   C      6
dtype: object