# Uniones

In [101]:
import pandas as pd

# Crear DataFrames de ejemplo
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C'],
    'value1': [1, 2, 3]
})

df2 = pd.DataFrame({
    'key': ['B', 'C', 'D'],
    'value2': [4, 5, 6]
})
print(df1)
print(df2)

  key  value1
0   A       1
1   B       2
2   C       3
  key  value2
0   B       4
1   C       5
2   D       6

In [102]:
inner_merged = pd.merge(df1, df2, on='key', how='inner')
print(inner_merged)

  key  value1  value2
0   B       2       4
1   C       3       5

In [103]:
outer_merged = pd.merge(df1, df2, on='key', how= 'outer')
print(outer_merged)

  key  value1  value2
0   A     1.0     NaN
1   B     2.0     4.0
2   C     3.0     5.0
3   D     NaN     6.0

In [104]:
left_merged = pd.merge(df1,df2, on='key', how = 'left')
print(left_merged)

  key  value1  value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0

In [105]:
right_merged = pd.merge(df1,df2, on='key', how = 'right')
print(right_merged)

  key  value1  value2
0   B     2.0       4
1   C     3.0       5
2   D     NaN       6

In [106]:
df3 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
})

df4 = pd.DataFrame({
    'A': ['A3', 'A4', 'A5'],
    'B': ['B3', 'B4', 'B5']
})

print(df3)
print(df4)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
    A   B
0  A3  B3
1  A4  B4
2  A5  B5

In [107]:
vertical_concat = pd.concat([df3,df4])
print(vertical_concat)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [108]:
horizontal_concat = pd.concat([df3,df4], axis=1)
print(horizontal_concat)

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

In [109]:
df5 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}, index=['K0', 'K1', 'K2'])

df6 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['D0', 'D1', 'D2']
}, index=['K0', 'K2', 'K3'])

print(df5)
print(df6)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K2  C1  D1
K3  C2  D2

In [110]:
joined = df5.join(df6, how='inner')
print(joined)

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C1  D1